// -----Polices d'écriture--------------------------------
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

//------Fichiers CSS---------------------------------------
@import 'modules/header.scss';

//-------Général------------------------------------------
$police-titres-logo: shrikhand;
$police-texte: Roboto;
$couleur-principale: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

// ---------------------------------------------------------
* {
    font-family: $police-texte;
}

body {
    margin: 0;
}

