.header {
    display: flex;
    align-items: center;
    padding: 0.7rem 1.2rem;
    gap: 23%;

    @media (max-width:320px) {
        gap: 18%;
    }

    @media (min-width:768px) {
        gap: 38%;
    }

    @media (min-width:1024px) {
        padding: 2rem 1.5rem;
    }
    
    @media (min-width:1440px) {
        gap: 41.5%;
    }

    &__logo {
        height: 2rem;
        width: 9.8rem;
        margin-top: 0.5rem;

        @media (min-width:1024px) {
            height: 2.1rem;
            width: 12.5rem;
            margin: 0;
        }
    }
}