.sectionPhoto {
    position: relative;
    
    &__photo {
        height: 17.1rem;
        width: 100%;
        object-fit: cover;

        @media (min-width:1024px) {
            height: 23.9rem;
        }
    }
}