.sectionDesserts {
    @include section-resto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h2 {
        @include sectionResto-titres;
    }

    .bordure {
        @include bordure-titre($couleur-tertiaire);
    }

    .card {
        @include format-card;

        &__contenu__titre {
            @include sectionResto-titrecard;
        }

        &__contenu__texte {
            @include sectionResto-textecard;
        }

        &__contenu__prix {
            @include sectionResto-prixcard;
        }
    }

    &__conteneurBouton {
        margin: 1.5rem 0 0.4rem 0;
        display: flex;
        justify-content: center;
    }
}