// -------------------------------------------------------------
.sectionEntrees {
    border-radius: 2rem 2rem 0 0;
    @include section-resto;
    position: absolute;
    top: 18.7rem;
    width: 93.5%;

    &__accueil {
        display: flex;
        gap: 2rem;
        align-items: center;

        &__titre {
            font-family: shrikhand;
            font-size: 1.8rem;
            font-weight: 400;
            @include texteOverflow;

            &--width {
                width: auto;
            }
        }

        &__boutonCoeur--bg {
            background-color: #F6F6F6;
        }
    }

    &__repas {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        h2 {
            @include sectionResto-titres;
        }

        .bordure {
            @include bordure-titre($couleur-tertiaire);
        }

        .card--overflow {
            @include texteOverflow;
        }

        .card {
            @include format-card;

            &__contenu {
                width: 80%;

                &__titre {
                    @include sectionResto-titrecard;
                    @include texteOverflow;
                }

                &__texte {
                    @include sectionResto-textecard;
                    @include texteOverflow;
                }

                &__prix {
                    @include sectionResto-prixcard;
                }
            }
        }
    }
}