.sectionDesserts {
    @include section-resto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h2 {
        @include sectionResto-titres;
    }

    .bordure {
        @include bordure-titre($couleur-tertiaire);
    }

    .card {
        @include format-card;

        &__contenu {
            width: 80%;

            &__titre {
                @include sectionResto-titrecard;
                @include texteOverflow;
            }

            &__texte {
                @include sectionResto-textecard;
                @include texteOverflow;
            }

            &__prix {
                @include sectionResto-prixcard;
            }
        }

    }

    &__conteneurBouton {
        margin: 1.5rem 0 0.4rem 0;
        display: flex;
        justify-content: center;
    }
}