.sectionPlats {
    margin-top: 23.9rem;
    @include section-resto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 18rem;

    h2 {
        @include sectionResto-titres;
    }

    .bordure {
        @include bordure-titre($couleur-tertiaire);
    }

    .card {
        @include format-card;
        animation: apparition 0.6s 0.8s ease-in-out backwards;

        &__contenu {
            width: 80%;

            &__titre {
                @include sectionResto-titrecard;
                @include texteOverflow;
                animation: apparition 0.6s 0.8s ease-in-out backwards;
            }

            &__texte {
                @include sectionResto-textecard;
                @include texteOverflow;
                animation: apparition 0.6s 0.8s ease-in-out backwards;
            }

            &__prix {
                @include sectionResto-prixcard;
                animation: apparition 0.6s 0.8s ease-in-out backwards;
            }
        }
    }
}