.boutonCoeur {
    cursor: pointer;
    background-image: url('../images/Icon/like.png');
    height: 1.6rem;
    width: 1.6rem;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            transform: scaleX(1);
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-image: url('../images/Icon/liked.png');
        height: 1.6rem;
        width: 1.6rem;
        background-size: 1.5rem 1.4rem;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        z-index: -1;
        transform: scale(0);
        transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
    }


}