.boutonCoeur {
    border: none;
    background-color: white;
    cursor: pointer;
    background-image: url('../images/Icon/like.png');
    height: 1.6rem;
    width: 1.6rem;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
        animation: liked 0.1s ease-in-out;
        background-image: url('../images/Icon/liked.png');
    }
}