@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: Roboto;
}

body {
  margin: 0;
}

@keyframes apparition {
  0% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
  }
}
.bouton {
  background: linear-gradient(-180deg, #e972da, #a35bdc);
  color: white;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 3.1rem;
  width: 58%;
  border: none;
  font-size: 1rem;
  transition: opacity 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}
@media (min-width: 1024px) {
  .bouton {
    width: 13.6rem;
  }
}
.bouton:hover, .bouton:active {
  opacity: 0.85;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.4);
}

.boutonCoeur {
  cursor: pointer;
  background-image: url("../images/Icon/like.png");
  height: 1.6rem;
  width: 1.6rem;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.boutonCoeur:hover::after, .boutonCoeur:active::after {
  transform: scaleX(1);
  opacity: 1;
}
.boutonCoeur::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url("../images/Icon/liked.png");
  height: 1.6rem;
  width: 1.6rem;
  background-size: 1.5rem 1.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.2rem;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .header {
    padding: 2rem 1.5rem;
    gap: 41%;
  }
}
.header__logo {
  height: 2rem;
  width: 9.8rem;
  margin-top: 0.5rem;
}
@media (min-width: 1024px) {
  .header__logo {
    height: 2.1rem;
    width: 12.5rem;
    margin: 0;
  }
}

.sectionPhoto {
  position: relative;
}
.sectionPhoto__photo {
  height: 17.1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .sectionPhoto__photo {
    height: 23.9rem;
  }
}

.conteneur {
  display: flex;
  justify-content: center;
}
.conteneur .sectionEntrees {
  border-radius: 2rem 2rem 0 0;
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  position: absolute;
  top: 18.7rem;
  width: 93.5%;
  height: 24rem;
}
@media (min-width: 1024px) {
  .conteneur .sectionEntrees {
    width: 70.3%;
    border-radius: 2.8rem 2.8rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 27.5rem;
  }
}
.conteneur .sectionEntrees__accueil {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.conteneur .sectionEntrees__accueil__titre {
  font-family: shrikhand;
  font-size: 1.8rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}
.conteneur .sectionEntrees__accueil__titre--width {
  width: auto;
}
.conteneur .sectionEntrees__accueil__boutonCoeur--bg {
  background-color: #F6F6F6;
}
.conteneur .sectionEntrees__repas {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (min-width: 1024px) {
  .conteneur .sectionEntrees__repas {
    width: 62.5%;
  }
}
.conteneur .sectionEntrees__repas h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.conteneur .sectionEntrees__repas .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.conteneur .sectionEntrees__repas .card--overflow {
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}
.conteneur .sectionEntrees__repas .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0 1rem 1rem;
  animation: apparition 0.6s 0.2s ease-in-out;
}
.conteneur .sectionEntrees__repas .card__contenu {
  width: 80%;
}
.conteneur .sectionEntrees__repas .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 0.2s ease-in-out;
}
.conteneur .sectionEntrees__repas .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 0.2s ease-in-out;
}
.conteneur .sectionEntrees__repas .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0 1rem 0 0;
  animation: apparition 0.6s 0.2s ease-in-out;
  transition: margin-right 0.4s ease-in-out;
}
.conteneur .sectionEntrees__repas .card__conteneurCheck {
  position: relative;
}
.conteneur .sectionEntrees__repas .card__conteneurCheck::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1rem;
  background-image: url("../images/Icon/check.png");
  height: 4.75rem;
  width: 3.7rem;
  background-color: #99E2D0;
  background-size: 1.2rem 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0 1rem 1rem 0;
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  transform: scaleX(0);
}
.conteneur .sectionEntrees__repas .card:hover .card__contenu, .conteneur .sectionEntrees__repas .card:active .card__contenu {
  width: 63.7%;
}
.conteneur .sectionEntrees__repas .card:hover .card__contenu__prix, .conteneur .sectionEntrees__repas .card:active .card__contenu__prix {
  margin-right: 4.6rem;
}
.conteneur .sectionEntrees__repas .card:hover .card__conteneurCheck::after, .conteneur .sectionEntrees__repas .card:active .card__conteneurCheck::after {
  transform: scaleX(1);
}

.sectionPlats {
  margin-top: 23.9rem;
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 18rem;
}
.sectionPlats h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.sectionPlats .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.sectionPlats .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0 1rem 1rem;
  animation: apparition 0.6s 0.8s ease-in-out backwards;
}
.sectionPlats .card__contenu {
  width: 80%;
}
.sectionPlats .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 0.8s ease-in-out backwards;
}
.sectionPlats .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 0.8s ease-in-out backwards;
}
.sectionPlats .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0 1rem 0 0;
  animation: apparition 0.6s 0.8s ease-in-out backwards;
  transition: margin-right 0.4s ease-in-out;
}
.sectionPlats .card__conteneurCheck {
  position: relative;
}
.sectionPlats .card__conteneurCheck::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1rem;
  background-image: url("../images/Icon/check.png");
  height: 4.75rem;
  width: 3.7rem;
  background-color: #99E2D0;
  background-size: 1.2rem 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0 1rem 1rem 0;
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  transform: scaleX(0);
}
.sectionPlats .card:hover .card__contenu, .sectionPlats .card:active .card__contenu {
  width: 63.7%;
}
.sectionPlats .card:hover .card__contenu__prix, .sectionPlats .card:active .card__contenu__prix {
  margin-right: 4.6rem;
}
.sectionPlats .card:hover .card__conteneurCheck::after, .sectionPlats .card:active .card__conteneurCheck::after {
  transform: scaleX(1);
}

.sectionDesserts {
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 26rem;
}
.sectionDesserts h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.sectionDesserts .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.sectionDesserts .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0 1rem 1rem;
  animation: apparition 0.6s 1.4s ease-in-out backwards;
}
.sectionDesserts .card__contenu {
  width: 80%;
}
.sectionDesserts .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 1.4s ease-in-out backwards;
}
.sectionDesserts .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  animation: apparition 0.6s 1.4s ease-in-out backwards;
}
.sectionDesserts .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0 1rem 0 0;
  animation: apparition 0.6s 1.4s ease-in-out backwards;
  transition: margin-right 0.4s ease-in-out;
}
.sectionDesserts .card__conteneurCheck {
  position: relative;
}
.sectionDesserts .card__conteneurCheck::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1rem;
  background-image: url("../images/Icon/check.png");
  height: 4.75rem;
  width: 3.7rem;
  background-color: #99E2D0;
  background-size: 1.2rem 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0 1rem 1rem 0;
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  transform: scaleX(0);
}
.sectionDesserts .card:hover .card__contenu, .sectionDesserts .card:active .card__contenu {
  width: 63.7%;
}
.sectionDesserts .card:hover .card__contenu__prix, .sectionDesserts .card:active .card__contenu__prix {
  margin-right: 4.6rem;
}
.sectionDesserts .card:hover .card__conteneurCheck::after, .sectionDesserts .card:active .card__conteneurCheck::after {
  transform: scaleX(1);
}
.sectionDesserts__conteneurBouton {
  margin: 1.5rem 0 0.4rem 0;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1rem 1.5rem;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5.8rem;
    padding: 3.2rem 3.8rem 1.5rem 1.5rem;
  }
}
.footer h2 {
  margin-top: 0;
  font-family: shrikhand;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .footer h2 {
    margin: 0;
  }
}
.footer__conteneurInfos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__conteneurInfos a {
  text-decoration: none;
  color: white;
}
.footer__conteneurInfos__conteneursLiensLogo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos__conteneursLiensLogo {
    flex-direction: row;
  }
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo img {
  width: 0.6rem;
  height: 0.9rem;
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
.footer__conteneurInfos__conteneursLiens {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos__conteneursLiens {
    flex-direction: row;
    gap: 1rem;
  }
}/*# sourceMappingURL=style-restaurants.css.map */