@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.bouton {
  background: linear-gradient(-180deg, #e972da, #a35bdc);
  color: white;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 3.1rem;
  width: 58%;
  border: none;
  font-size: 1rem;
  transition: opacity 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}
@media (min-width: 1024px) {
  .bouton {
    width: 13.6rem;
  }
}
.bouton:hover {
  opacity: 0.85;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.4);
}

.boutonCoeur {
  cursor: pointer;
  background-image: url("../images/Icon/like.png");
  height: 1.6rem;
  width: 1.6rem;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .boutonCoeur:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
.boutonCoeur:active::after {
  transform: scaleX(1);
  opacity: 1;
}
.boutonCoeur::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url("../images/Icon/liked.png");
  height: 1.6rem;
  width: 1.6rem;
  background-size: 1.5rem 1.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
}

@keyframes chargement {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.2);
  }
  60% {
    transform: scaleX(0.5);
  }
  90% {
    transform: scaleX(0.75);
  }
  85%, 100% {
    background-color: #a35bdc;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
.conteneurChargement {
  height: 1080px;
  padding: 3rem 0;
  width: 97.5%;
  animation: invisible 0.5s 2.5s ease-in-out forwards;
}
@media (min-width: 768px) {
  .conteneurChargement {
    width: 98.5%;
  }
}
@media (min-width: 1440px) {
  .conteneurChargement {
    width: 99.2%;
  }
}
.conteneurChargement h2 {
  margin: 0.1rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: #353535;
}
.conteneurChargement .progress {
  border: #EAEAEA 2px solid;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.2rem;
  animation: invisible 0.5s 2.5s ease-in-out forwards;
}
.conteneurChargement .progress__bar {
  background-color: #e972da;
  height: 1rem;
  border-radius: 1rem;
  animation: chargement 2s 0.5s ease-in-out both;
  transform-origin: left;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  padding: 0.8rem 0 0.5rem 0;
}
@media (min-width: 1024px) {
  .header__logo {
    display: none;
  }
}
.header__logo--ordi {
  display: none;
}
@media (min-width: 1024px) {
  .header__logo--ordi {
    display: block;
    width: 12.5rem;
    height: 2.1rem;
    padding: 1.9rem 0 1.9rem 0;
  }
}
.header__section {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #EAEAEA;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25), 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 100%;
  justify-content: center;
}
@media (min-width: 1024px) {
  .header__section {
    box-shadow: none;
  }
}
.header__section h2 {
  font-size: 1rem;
  color: #353535;
  font-weight: 500;
}
.header__section__logo {
  width: 0.7rem;
  height: 1rem;
}

.sectionAccueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 3.5rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .sectionAccueil {
    padding-bottom: 1.8rem;
  }
}
.sectionAccueil__titre {
  margin: 2.5rem 3rem 1rem 3rem;
}
@media (min-width: 1024px) {
  .sectionAccueil__titre {
    margin: 1.8rem 0 1.8rem 0;
    font-size: 2.5rem;
  }
}
.sectionAccueil__texte {
  color: #353535;
  margin: 0.5rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .sectionAccueil__texte {
    margin: 0 0 1.9rem 0;
  }
}

.sectionFonctionnement {
  margin-bottom: 5rem;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .sectionFonctionnement {
    margin-bottom: 3rem;
  }
}
.sectionFonctionnement h2 {
  margin: 2rem 1rem 1.6rem 1rem;
}
@media (min-width: 1440px) {
  .sectionFonctionnement h2 {
    margin: 2rem 11.2rem 1.6rem 11.2rem;
  }
}
.sectionFonctionnement .conteneurFonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .sectionFonctionnement .conteneurFonctionnement {
    flex-direction: row;
    gap: 0rem;
    width: 96%;
  }
}
@media (min-width: 1440px) {
  .sectionFonctionnement .conteneurFonctionnement {
    margin-left: 10rem;
    width: 74.2%;
  }
}
@media (min-width: 1920px) {
  .sectionFonctionnement .conteneurFonctionnement {
    width: 80.5%;
  }
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
@media (min-width: 1024px) {
  .sectionFonctionnement .conteneurFonctionnement__conteneurCard {
    margin-left: 0.8rem;
    width: 33%;
  }
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__numero {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 0.6rem;
  top: 0.1rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #F6F6F6;
  border-radius: 1.2rem;
  padding: 0 1.9rem;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.15);
  width: 70%;
  height: 4.5rem;
}
@media (min-width: 768px) {
  .sectionFonctionnement .conteneurFonctionnement__conteneurCard__card {
    width: 85%;
  }
}
@media (min-width: 1024px) {
  .sectionFonctionnement .conteneurFonctionnement__conteneurCard__card {
    width: 100%;
  }
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoMobile {
  width: 0.9rem;
  height: 1.3rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoMenu {
  width: 1rem;
  height: 1rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoResto {
  width: 1.2rem;
  height: 1.2rem;
}

.sectionRestaurants {
  padding: 2rem 1rem 5rem 1rem;
  background-color: #F6F6F6;
}
@media (min-width: 1440px) {
  .sectionRestaurants {
    padding: 0.5rem 11.2rem 2rem 11.2rem;
  }
}
.sectionRestaurants h2 {
  margin-bottom: 0.5rem;
}
@media (min-width: 1024px) {
  .sectionRestaurants h2 {
    margin-bottom: 1.7rem;
  }
}
.sectionRestaurants__conteneur {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .sectionRestaurants__conteneur {
    gap: 3.1rem;
  }
}
.sectionRestaurants__conteneur__conteneurParDeux {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .sectionRestaurants__conteneur__conteneurParDeux {
    flex-direction: row;
    width: 100%;
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .sectionRestaurants__conteneur__conteneurParDeux {
    gap: 6.2rem;
  }
}
.sectionRestaurants__conteneur__conteneurParDeux a {
  text-decoration: none;
  color: black;
}
@media (min-width: 1024px) {
  .sectionRestaurants__conteneur__conteneurParDeux a {
    width: 50%;
  }
}
.sectionRestaurants__conteneur__conteneurParDeux .card {
  height: 15.6rem;
  width: 100%;
  border-radius: 0.9rem;
  background-color: white;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto {
  position: relative;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
  position: absolute;
  left: 73%;
  bottom: 70%;
  background-color: #99E2D0;
  padding: 0.4rem 0.9rem;
  color: #008766;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 0.1rem;
}
@media (max-width: 320px) {
  .sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
    left: 68%;
  }
}
@media (min-width: 768px) {
  .sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
    left: 87%;
  }
}
@media (min-width: 1024px) {
  .sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
    left: 80%;
  }
}
@media (min-width: 1920px) {
  .sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
    left: 86%;
  }
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem 0.9rem 0 0;
  height: 11rem;
  width: 100%;
}
@media (min-width: 1920px) {
  .sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__photo {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 0.8rem;
  align-items: center;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu h3 {
  margin: 0.5em 0 0.3rem 0;
  font-size: 1.1rem;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu p {
  margin: 0;
  font-weight: 300;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1rem 1.5rem;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5.8rem;
    padding: 3.2rem 3.8rem 1.5rem 1.5rem;
  }
}
.footer h2 {
  margin-top: 0;
  font-family: shrikhand;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .footer h2 {
    margin: 0;
  }
}
.footer__conteneurInfos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__conteneurInfos a {
  text-decoration: none;
  color: white;
}
.footer__conteneurInfos__conteneursLiensLogo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos__conteneursLiensLogo {
    flex-direction: row;
  }
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo img {
  width: 0.6rem;
  height: 0.9rem;
}
.footer__conteneurInfos__conteneursLiensLogo .liensLogo h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
.footer__conteneurInfos__conteneursLiens {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__conteneurInfos__conteneursLiens {
    flex-direction: row;
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */