@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  padding: 0.8rem 0 0.5rem 0;
}
.header__section {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #EAEAEA;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25), 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 100%;
  justify-content: center;
}
.header__section h2 {
  font-size: 1rem;
  color: #353535;
  font-weight: 500;
}
.header__section__logo {
  width: 0.7rem;
  height: 1rem;
}

.sectionAccueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 3.5rem;
  width: 100%;
}
.sectionAccueil__titre {
  margin: 2.5rem 3rem 1rem 3rem;
}
.sectionAccueil__texte {
  color: #353535;
  margin: 0.5rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.sectionFonctionnement {
  margin: 3rem 1rem;
}
.sectionFonctionnement .conteneurFonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard {
  display: flex;
  align-items: center;
  width: 100%;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__numero {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 0.6rem;
  top: 0.1rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #F6F6F6;
  border-radius: 1.2rem;
  padding: 0 1.9rem;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.15);
  width: 95%;
  height: 4.5rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoMobile {
  width: 0.8rem;
  height: 1.2rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoMenu {
  width: 1rem;
  height: 1rem;
}
.sectionFonctionnement .conteneurFonctionnement__conteneurCard__card__logoResto {
  width: 1.1rem;
  height: 1.1rem;
}

.sectionRestaurants {
  padding: 2rem 1rem 5rem 1rem;
  background-color: #F6F6F6;
}
.sectionRestaurants h2 {
  margin-bottom: 0.5rem;
}
.sectionRestaurants__conteneur {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectionRestaurants__conteneur__conteneurParDeux {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectionRestaurants__conteneur__conteneurParDeux a {
  text-decoration: none;
  color: black;
}
.sectionRestaurants__conteneur__conteneurParDeux .card {
  height: 15.6rem;
  width: 100%;
  border-radius: 0.9rem;
  background-color: white;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto {
  position: relative;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__texte {
  position: absolute;
  left: 73%;
  bottom: 70%;
  background-color: #99E2D0;
  padding: 0.4rem 0.9rem;
  color: #008766;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 0.1rem;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__conteneurPhoto__photo, .sectionRestaurants__conteneur__conteneurParDeux .card__photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem 0.9rem 0 0;
  height: 11rem;
  width: 100%;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 0.8rem;
  align-items: center;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu h3 {
  margin: 0.5em 0 0.3rem 0;
  font-size: 1.1rem;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu p {
  margin: 0;
  font-weight: 300;
}
.sectionRestaurants__conteneur__conteneurParDeux .card__contenu img {
  width: 1.3rem;
  height: 1.3rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1rem 1.5rem;
}
.footer h2 {
  margin-top: 0;
  font-family: shrikhand;
  font-size: 1.2rem;
}
.footer__conteneur {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__conteneur__liens {
  text-decoration: none;
  color: white;
}
.footer__conteneur__liens--alignement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__conteneur__liens--alignement img {
  width: 0.6rem;
  height: 0.9rem;
}
.footer__conteneur__liens--alignement h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.bouton {
  background: linear-gradient(-180deg, #e972da, #a35bdc);
  color: white;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 3.1rem;
  width: 58%;
  border: none;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */