@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.bouton {
  background: linear-gradient(-180deg, #e972da, #a35bdc);
  color: white;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 3.1rem;
  width: 58%;
  border: none;
  font-size: 1rem;
  transition: opacity 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}
@media (min-width: 1024px) {
  .bouton {
    width: 13.6rem;
  }
}
.bouton:hover {
  opacity: 0.85;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.2rem;
  gap: 4rem;
}
.header__logo {
  height: 2rem;
  width: 9.8rem;
  margin-top: 0.5rem;
}

.sectionPhoto {
  position: relative;
}
.sectionPhoto__photo {
  height: 17.1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionEntrees {
  border-radius: 2rem 2rem 0 0;
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  position: absolute;
  top: 18.7rem;
  width: 93.5%;
}
.sectionEntrees__accueil {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.sectionEntrees__accueil__titre {
  font-family: shrikhand;
  font-size: 1.8rem;
  font-weight: 400;
}
.sectionEntrees__accueil__logo {
  height: 1.3rem;
  width: 1.3rem;
}
.sectionEntrees button {
  border: none;
  background-color: #F6F6F6;
  cursor: pointer;
}
.sectionEntrees__repas {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.sectionEntrees__repas h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.sectionEntrees__repas .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.sectionEntrees__repas .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.sectionEntrees__repas .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
}
.sectionEntrees__repas .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}
.sectionEntrees__repas .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0;
}

.sectionPlats {
  margin-top: 23.9rem;
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.sectionPlats h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.sectionPlats .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.sectionPlats .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.sectionPlats .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
}
.sectionPlats .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}
.sectionPlats .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0;
}

.sectionDesserts {
  padding: 0.8rem 0.8rem 1.9rem 0.8rem;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.sectionDesserts h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.4rem 0;
}
.sectionDesserts .bordure {
  border-bottom: #99E2D0 solid 3px;
  padding-bottom: 0.3rem;
}
.sectionDesserts .card {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.sectionDesserts .card__contenu__titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
}
.sectionDesserts .card__contenu__texte {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}
.sectionDesserts .card__contenu__prix {
  font-size: 0.9rem;
  font-weight: 700;
  color: #353535;
  margin: 0;
}
.sectionDesserts__conteneurBouton {
  margin: 1.5rem 0 0.4rem 0;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style-restaurants.css.map */