.footer {
    background-color: #353535;
    color: white;
    padding: 1rem 1.5rem;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: row-reverse;
    }

    h2 {
        margin-top: 0;
        font-family: $police-titres-logo;
        font-size: 1.2rem;
    }

    &__conteneurInfos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            text-decoration: none;
            color: white;
        }

        &__conteneursLiensLogo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .liensLogo {
                display: flex;
                gap: 0.5rem;

                img {
                    width: 0.6rem;
                    height: 0.9rem;
                }

                h3 {
                    font-weight: 500;
                    font-size: 1rem;
                    margin: 0;
                }
            }
        }

        &__conteneursLiens {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

