.footer {
    background-color: #353535;
    color: white;
    padding: 1rem 1.5rem;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 5.8rem;
        padding: 3.2rem 3.8rem 1.5rem 1.5rem;
    }

    h2 {
        margin-top: 0;
        font-family: $police-titres-logo;
        font-size: 1.2rem;

        @media (min-width:1024px) {
            margin: 0;
        }
    }

    &__conteneurInfos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (min-width:1024px) {
            flex-direction: row;
            gap: 3rem;
        }

        a {
            text-decoration: none;
            color: white;
        }

        // Conteneur pour les liens avec logo
        &__conteneursLiensLogo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @media (min-width:1024px) {
                flex-direction: row;
            }

            // Classe conteneur ajoutée à chaque lien qui contient un logo
            .liensLogo {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 0.6rem;
                    height: 0.9rem;
                }

                h3 {
                    font-weight: 500;
                    font-size: 1rem;
                    margin: 0;
                }
            }
        }

        // conteneur pour les liens sans logo
        &__conteneursLiens {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @media (min-width:1024px) {
                flex-direction: row;
                gap: 1rem;
            }
        }
    }
}

