.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        padding: 0.8rem 0 0.5rem 0;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__logo--ordi {
        display: none;

        @media (min-width: 1024px) {
            display: block;
            width: 12.5rem;
            height: 2.1rem;
            padding: 1.9rem 0 1.9rem 0;
        }
    }

    &__section {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #EAEAEA;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25),
            0 -0.1rem 0.2rem rgba(0, 0, 0, 0.2);
        width: 100%;
        justify-content: center;

        @media (min-width: 1024px) {
            box-shadow: none;
        }

        & h2 {
            font-size: 1rem;
            color: #353535;
            font-weight: 500;
        }

        &__logo {
            width: 0.7rem;
            height: 1rem;
        }
    }
}